*{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color:white;
    height: 100%;
    min-height: 100%;
    padding-top: 25px;
    text-align: center;
    background:linear-gradient(0deg, rgba(1,1,1,0.5), rgba(1,1,1,0.5)), url("https://i.imgur.com/rlD5E4f.png") center fixed no-repeat;
    background-size: cover;
}
html {
    height: 100%;
    min-height: 100%;
}

.quote-container {
    min-height: 150px;
    /*font-size: 2em;*/
}

#title {
    font-family:'Poiret One', cursive;
    font-size:70px;
    margin-bottom:1em;
    text-align: center;
    font-weight: bold;
}

#quote-box {
    font-size:18px;
    font-weight:100;
    margin:0 auto;
    float:initial;
    min-height:3em;
}

/*#button {*/
    /*margin-top:6em;*/
    /*float:initial;*/
    /*padding: auto;*/
/*}*/

#author {
    font-style:italic;
}

.clickable {
    cursor:pointer;
}

